/* For teampage */
/* *
{
    box-sizing: border-box;
} */

body, .buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body
{
    font-family: 'Lexend Deca', sans-serif;
    background-color: #252c4a;
}

.buttons
{
    margin-top: 18vw;
}

.buttons button
{
    height: 25vw;
    width: 75vw;
    margin-bottom: 8vw;
    font-size: 6vw;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: #71d766;
    color: white;
    text-transform: uppercase;
}

.instructions 
{
    width: 98%;
    margin-top: 3vw;
}

.instructions .borderline1, .instructions .borderline2
{
    border-top: 1px solid #8f99c1;
    height: 1px;
    width: 18%;
    position: absolute;
    top: 99vw;
}

.instructions .borderline1
{
    left: 5%;
}

.instructions .borderline2
{
    right: 5%;
}

.instructions .instructions-headline
{
    text-align: center;
    margin-bottom: 9vw;
    font-size: 6vw;
    letter-spacing: 1px;
    color: #8f99c1;
    z-index: 1;
    background: #252c4a;
    font-weight: 700;
    /* opacity: 1;
    width: auto; */
}

.instructions ul li
{
    margin-bottom: 3vw;
    font-size: 4.5vw;
    letter-spacing: 0.5px;
    color: white;
}